<div class="p-fluid p-grid">
  <div class="p-text-center">
    <h1>JSON DOC CREATOR</h1>
  </div>
  <p-toast></p-toast>
  <p-toast position="bottom-center" key="bc"></p-toast>
  <p-messages *ngIf="output.hasOwnProperty(data.key)" [(value)]="message"></p-messages>
  <button pButton pRipple type="button" *ngIf="output.hasOwnProperty(data.key)" icon="pi pi-info" (click)="showInfo()"
    class="p-button-rounded p-button-outlined"></button>
  <div class="p-field p-col-6 p-md-4" style="margin-top:30px;">
    <label for="key">Key</label>
    <input [ngModel]="data.key" (ngModelChange)="keyChange($event)" type="text" inputId="key" pInputText />
  </div>
  <div class="p-field p-col-6 p-md-4" style="margin-top:10px;">
    <label for="types">Type</label>
    <p-dropdown [autoDisplayFirst]="false" inputId="types" [options]="types" (ngModelChange)="typeChange($event)" [ngModel]="data.type"
      optionValue="code" optionLabel="name" [style]="{'width':'15rem'}">
    </p-dropdown>
  </div>
  <div style="margin-top:10px;">
    <!-- HTML -->
    <section *ngIf="data.type === 'H'">
      <label for="html">HTML</label>

      <p-editor input="html" [(ngModel)]="data.value" [style]="{'height':'320px'}">
        <ng-template pTemplate="header">
          <span class="ql-format-group">
            <span title="Bold" class="ql-format-button ql-bold"></span>
            <span class="ql-format-separator"></span>
            <span title="Italic" class="ql-format-button ql-italic"></span>
            <span class="ql-format-separator"></span>
            <span title="Underline" class="ql-format-button ql-underline"></span>
            <span class="ql-format-separator"></span>
            <span title="Strikethrough" class="ql-format-button ql-strike"></span>
          </span>
        </ng-template>
      </p-editor>
    </section>
    <!-- DATE TIME-->
    <section *ngIf="data.type === 'DT'">
      <label for="datetime">Date & Time</label>
      <p-calendar [(ngModel)]="data.value" inputId="datetime" showTime="true" hourFormat="24"></p-calendar>
    </section>
    <!-- DATE -->
    <section *ngIf="data.type === 'D'">
      <label for="date">Date</label>
      <p-calendar [(ngModel)]="data.value" inputId="date"></p-calendar>
    </section>
    <!-- TIME -->
    <section *ngIf="data.type === 'T'">
      <label for="time">Time</label>
      <p-calendar [(ngModel)]="data.value" [timeOnly]="true" inputId="time"></p-calendar>
    </section>
    <!-- STRING -->
    <section *ngIf="data.type === 'S'">
      <label for="string">String</label>
      <textarea [(ngModel)]="data.value" idInput="string" [rows]="5" [cols]="30" pInputTextarea
        autoResize="autoResize"></textarea>
    </section>
    <!-- NUMBER -->
    <section *ngIf="data.type === 'N'">
      <label for="number">Number</label>
      <p-inputNumber [(ngModel)]="data.value" [showButtons]="true" buttonLayout="number" inputId="number"
        spinnerMode="number" [step]="1" [showButtons]="true">
      </p-inputNumber>
    </section>
    <!-- BOOLEAN -->
    <section *ngIf="data.type === 'B'">
      <h3>Boolean</h3>
      <p-inputSwitch [(ngModel)]="data.value" idInput="boolean"></p-inputSwitch>
    </section>
  </div>
  <div style="margin-top: 20px;">
    <p-splitButton label="Save" icon="pi pi-plus" (click)="save()" [model]="items"></p-splitButton>
  </div>
</div>
<div style="margin-top: 100px; overflow: scroll;">
  <p-panel header="Output:">
    <pre>{{output | json}}</pre>
  
  </p-panel>
  <p-scrollTop></p-scrollTop>
</div>